<form action="/postings" method="post">
    <h2>Let us know about the job you'd like to post:</h2> 
  <label for="company">What company are you posting on behalf of?</label>
  <input required id="company" name="company" type="number">

  <label for="position">What position are you looking to fill?</label>
  <input required id="position" name="position" type="number">

  <label for="description">Enter a brief description of the position</label>
  <input required id="description" name="description" type="number">

  <label for="salary">What is the estimated salary for this position?</label>
  <input required id="salary" name="salary" type="text">

  <label for="contact">Enter the contact information for the hiring manager in charge of filling this position:</label>
  <input required id="contact" name="contact" type="text">

  <button type="submit">Submit</button>
</form>